body {
    background-color: #e5e0d4;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#app {
    width: 500px;
    padding: 40px;
}



#input {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
}

#taskInput {
    flex-grow: 1;

    padding: 10px 15px;
    border: 1px solid #c9c0b6;

    border-radius: 20px;

    background-color: #f9f5ed;

    font-size: 16px;
    outline: none;

}

#add {
    padding: 10px 20px;
    background-color: #f5e4d2;

    border: 1px solid #c9c0b6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}



#list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #c9c0b6;
    background-color: white;

}

.task {
    flex-grow: 1;
    font-size: 18px;
    margin-right: 15px;


}

.btns {
    display: flex;
    gap: 10px;
}


.btn {
    padding: 8px 15px;
    border: 1px solid #c9c0b6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    background-color: #f5e4d2;


}



.completed {
    background-color: #5fa55e;

    border-color: #5fa55e;
    color: red;

}