body {
    font-family: Arial;
    padding: 20px;
    background-color: hsla(180, 1%, 16%, 0.195);

}


#par {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    max-width: 800px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.5;


}


table {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    border-collapse: collapse;
    border-bottom: 1px solid #333;

    font-size: 14px;
    table-layout: fixed;

}


th {
    background-color: #333;
    color: white;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #222;
    font-weight: bold;
    text-transform: uppercase;
}


td {
    border-right: 1px solid #333;
    border-left: 1px solid #333;

    padding: 8px 5px;
    vertical-align: top;
    text-align: left;
    height: 35px;


}


label {
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 5px;
}